.GetByid-container {
  display: grid;
  grid-gap: 15px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 425px) {
  .GetByid-container {
    width: 100%;
    padding: 15px;
  }
}